@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

body {
    background-color: #f3f3f3;
}


/*----------------------------------------------------------------------*/

.searchbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    margin: 1rem 0;
}

.box {
    background-color: #fcfcfc;
    height:  7vh;
    width: 40%;
    display: flex;
    align-items: center;
    border-radius: 20px;
}

.box > a {
    color: rgba(0, 0, 0, 0.4);
    font-size: 20px;
    margin-left: 1rem;
}

#searchbar {
    flex: 1;
    background-color: #fcfcfc;
    border-style: none;
    width: 40%;
    padding-left: 5px;
    font-size: 16px;
    outline: none;
}

/*----------------------------------------------------------------------*/

.hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3rem;
    margin: 5px 4rem;
    background-color: #fcfcfc;
    border-radius: 100px;
}


.left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:0 5rem;
    width: 85%;
}

.left-side h1 {
    color: #03821F;
    font-size: 35px;
    padding-bottom: 2rem;
}

.left-side p {
    font-size: 18px;
    padding-bottom: 2rem;
}

.left-side button {
    width: 155px;
    height: 50px;
    border-style: none;
    border-radius: 10px;
    background-color: #25AB42;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}


.grid-container > div:hover{
    transform: scale(1.05);
}

.grid-container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows:250px 230px;
    gap: 10px;
}

.grid-container > div {
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.item1 {
    grid-row: 1/3;
}
.item2 {
    grid-column: 2/4;
}
.item3 {
    grid-column: 2;
}
.item4 {
    grid-column: 3;
}

.right-side img {
    width: 100%;
    height: 100%;
}

/*-----------------------------------------------------------------------------*/

.seperator {
    padding: 3rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.market {
    display: flex;
    align-items: center;
}
.market p {
    padding-left: 1.5rem;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.4);
}
.line {
    background-color: #25AB42;
    height: 9px;
    border-radius: 10px;
}

.seperator h3 {
    color: rgba(0, 0, 0, 0.4);
    font-weight: 600;
    font-size: 20px;
}

.more-link {
    display: flex;
    align-items: center;
}

.more-link a {
    color: #25AB42;
    font-size: 27px;
    padding-left: 1rem;
}

.product-section {
    display: flex;
    padding: 0 4rem;
}

.hot-sale {
    width: 30%;
    height: 80vh;
    background-color: #25AB42;
    background-image: url();
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    
}

.marketplace-buttons {
    padding:  10px 4rem;
    display: flex;
    width: 100%;
    justify-content: end;
}

.marketplace-buttons button {
    height: 40px;
    width: 40px;
    border-style: none;
    background-color: #25AB42;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    margin-left: 20px;
}

.marketplace-buttons button:hover {
    cursor: pointer;
    background-color: #4ac364;
}

#test {
    position:relative;
    top: 10rem;
    right: 10px;
    z-index: 2;
    height: 40px;
    width: 40px;
    border-style: none;
    background-color: #25AB42;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
}

.hot-sale p {
    padding:7px;
    margin-right: 3rem;
    background-color: #f3f3f3;
    width: 60px;
    font-weight: 600;
    color: #ff0505;
}

.sliders {
    overflow-x: auto;
    margin-left: 10rem;
}

.product-container {
    display: flex;
    width: 100%;
    margin: 0px 0rem;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.product-container1 {
    display: flex;
    width: 100%;
    margin: 3rem 0rem;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
    background-color: #fcfcfc;
    border-radius: 30px;
    height: 12px;
}

.product-container::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 20px;
    border: 3px solid #fcfcfc;
}

.product-container1::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 30px;
    border: 3px solid #fcfcfc;

}

.product-container1::-webkit-scrollbar {
    background-color: #fcfcfc;
    border-radius: 30px;
    height: 12px;
}

.sliders::-webkit-scrollbar{
    display: hidden;
}


.product-card {
    flex: 0 0 auto;
    width: 200px;
    height: 300px;
    margin: 0 1rem 10px;
    background-color: #fcfcfc;
}

.product-image {
    position: relative;
    width: 100%;
    height: 220px;
    overflow: hidden;
}

.product-thumb {
    width: 100%;
    height: 91%;
    object-fit: cover;
}

.discount-tag {
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #03821F;
    right: 10px;
    top: 10px;
    font-weight: 500;
    text-transform: capitalize;
  }

  .card-btn {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 80%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

.product-card:hover .card-btn {
    opacity: 1;
}
.card-btn:hover {
    background: #25AB42;
    color: #fff;
} 

.product-info {
    width: 100%;
    height: 100px;
    padding-top: 0px;
  }
  
  .product-title {
    text-transform: uppercase;
    font-size: 19px;
  }
  
  .product-description {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
  }
  
  .price {
    font-weight: 800;
    font-size: 17px;
  }
  
  .actual-price {
    margin-left: 10px;
    opacity: 0.5;
    text-decoration: line-through;
  }

.collection-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  
  .collection {
    position: relative;
  }
  
  .collection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .collection p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
  }
  
  .collection:nth-child(3) {
    grid-column: span 2;
    margin-bottom: 10px;
  }

.sell-product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 4rem;
    background-color: #25AB42;
    border-radius: 40px;
}

.right-side1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 3rem;
    padding-left: 6rem;
}

.right-side1 h1 {
    color: #fff;
    font-size: 35px;
    padding-bottom: 2rem;
}

.right-side1 p {
    color: #fff;
    font-size: 18px;
    padding-bottom: 2rem;
}

.right-side1 button{
    height: 50px;
    border-style: none;
    width: 150px;
    border-radius: 10px;
    background-color: #fff;
    color: #03821F;
    font-size: 14px;
    font-weight: 600;
}

.left-side1 {
    padding: 4rem;
}

.left-side1 img {
    width: 90%;
    height: 90%;
    border-radius: 20px;
}

/*-----------------------------------------------------------------------*/

.offers-section {
    display: flex;
    width: 100%;
    margin:auto;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.offers-section::-webkit-scrollbar {
    background-color: #fcfcfc;
    border-radius: 30px;
}

section::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 30px;
  border: 3px solid #fcfcff ;
}

.offer-card{
    flex: 0 0 calc((90% / 3) - 2rem);
    height: 600px;
    margin: 1rem 3rem;
    background-color: #fcfcfc;
}

.offer-info {
    padding: 0 2rem;
}

.offer-info h2 {
    padding-bottom: 1rem;
}

.services {
    display: flex;
    flex-wrap: wrap;
    margin: 5rem;
    background-color: #fcfcfc;
}

.services .item {
    margin: 2rem 4rem;
    display: flex;
    width: 250px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.services i {
    font-size: 30px;
}

.random-imgs {
    display: grid;
    margin: 3rem 6rem;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 300px 350px;
    gap: 1rem;
}

.random-imgs .item0 {
    background-color: #25AB42;
    border-radius: 20px;
    overflow: hidden;
}
.random-imgs .item0:nth-last-child(1) {
    background-color: #000;
    grid-column: 1/4;
}

.item0 img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

/*--------------------------------------------------------------------------------------*/

footer {
    background-color: #f3f3f3;
    width: 100%;
    padding: 0 5rem;
}

.footer-container {
    background-color: #25AB42;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-left {
    padding: 1rem 6rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.logo-footer {
    display: flex;
    align-items: center;
}

.footer-left .links a  {
    color: #fff;
    text-decoration: none;
    padding-right: 25px;
    font-size: 18px;
}

.links i {
    color: #fff;
    text-decoration: none;
    padding-right: 25px;
    font-size: 30px;
}

.footer-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 1rem 6rem;
    padding: 3rem 5rem;
    background-color: #fcfcfc;
    border-radius: 10px;
}

.footer-right p {
    font-size: 18px;
    font-weight: 700;
}

.subscribe-footer input {
    width: 65%;
    height: 30px;
    padding-left: 10px;
}

.subscribe-footer button {
    height: 30px;
    width: 25%;
    background-color: #000;
    color: #fff;
    border-style: none;
    cursor: pointer;
}


.line-footer {
    height: 1px;
    width: 100%;
    margin: 0 2rem;
    background-color: #03821F;
}

#footer-copyright {
    color: #fff;
    margin: 0 2rem;
    padding: 1rem 0;
    font-size: 14px;
    font-weight: 200;
}

